  
<div class="container-fluid py-5 home ">
    <div class="row">
   
            <div class="col-6 d-flex justify-content-center align-items-center">
                    <img src="../../assets/images/c56621126d9828a0fff9a2b6b5797edc.png">
                    </div>
          
            <div class=" col-6 d-flex justify-content-center align-items-center ">
                <img src="../../assets/images/spacex-into.png">
                </div>
                <div class=" col-12 d-flex justify-content-center align-items-center ">
                <div class="caption">
                <p>#Company For Space Solutions</p>
                </div>
            </div>
            </div>
            
    
     
 
       

      
 
